# Dependencies
node_modules/

# Next.js
.next/
out/

# Build / coverage
dist/
build/
coverage/

# Env
.env
.env.local
.env.*.local

# Logs & debug
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.tmp

# Vercel
.vercel

# TypeScript
next-env.d.ts
*.tsbuildinfo

# Vitest
.vitest/
